@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.art-body{
  overflow-x:hidden;
}
.art-bg{

  margin-left:78px;
}

.article-heading{

margin: auto;
margin-top: 2vw;
margin-bottom: 2vw;
width  : 10vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 55px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

